
a{
  color: #374259;
}
a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #F2D8D8;
  color: #374259 ;
}

h1 {
  color: #374259 ;

  font-size: 3.2em;
  line-height: 1.1;
  font-family: fantasy;
}

footer {
  background-color: #F2D8D8;
  color: #374259;
  padding: 10px;
  align-self: flex-end;
}
